
# Mac
.DS_Store

docs/charts/bluecompute/charts/
docs/charts/bluecompute/requirements.lock
docs/charts/bluecompute-icp/charts/
docs/charts/bluecompute-icp/requirements.lock

# Configs
.project
.settings