# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
revisionHistoryLimit: 1
image:
  #repository: registry.csplab.cloudns.cx/microprofile/keygen-mp
  #repository: ibmcase/keygen-mp
  repository: keygen-mp
  tag: v1.0.0
  pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 200m
      memory: 300Mi
