revision: "1.0"
output-filename: ""
charts:
- archive: charts/ibmcase/bluecompute-ce-__CHART_VERSION__.tgz
  repository-keys:
  - auth.image.repository
  - auth.bash.image.repository
  - catalog.image.repository
  - catalog.curl.image
  - elasticsearch.image.repository
  - elasticsearch.initImage.repository
  - customer.image.repository
  - customer.bash.image.repository
  - couchdb.image.repository
  - couchdb.helperImage.repository
  - inventory.image.repository
  - inventory.mysql.image
  - mysql.image
  - orders.image.repository
  - orders.mysql.image
  - mariadb.image.repository
  - web.image.repository

images:
- image: ibmcase/bluecompute-auth:0.5.0
  references:
  - repository: ibmcase/bluecompute-auth:0.5.0
- image: ibmcase/bluecompute-bash-curl-ssl:latest
  references:
  - repository: ibmcase/bluecompute-bash-curl-ssl:latest
- image: ibmcase/bluecompute-catalog:0.5.0
  references:
  - repository: ibmcase/bluecompute-catalog:0.5.0
- image: ibmcase/curl:latest
  references:
  - repository: ibmcase/curl:latest
- image: ibmcase/elasticsearch:6.3.1
  references:
  - repository: ibmcase/elasticsearch:6.3.1
- image: ibmcase/busybox:latest
  references:
  - repository: ibmcase/busybox:latest
- image: ibmcase/bluecompute-customer:0.5.0
  references:
  - repository: ibmcase/bluecompute-customer:0.5.0
- image: ibmcase/couchdb:2.1.1
  references:
  - repository: ibmcase/couchdb:2.1.1
- image: ibmcase/couchdb-statefulset-assembler:1.1.0
  references:
  - repository: ibmcase/couchdb-statefulset-assembler:1.1.0
- image: ibmcase/bluecompute-inventory:0.5.0
  references:
  - repository: ibmcase/bluecompute-inventory:0.5.0
- image: ibmcase/mysql:5.7.14
  references:
  - repository: ibmcase/mysql:5.7.14
- image: ibmcase/bluecompute-orders:0.5.0
  references:
  - repository: ibmcase/bluecompute-orders:0.5.0
- image: ibmcase/mariadb:10.1.36-debian-9
  references:
  - repository: ibmcase/mariadb:10.1.36-debian-9
- image: ibmcase/bluecompute-web:0.5.0
  references:
  - repository: ibmcase/bluecompute-web:0.5.0