revision: "1.0"
output-filename: ""
charts:
- archive: charts/ibmcase/bluecompute-ce-__CHART_VERSION__.tgz
  repository-keys:
  - auth.image.repository
  - auth.dataloader.image.repository
  - catalog.image.repository
  - catalog.dataloader.image.repository
  - ibmcase-elasticsearch.image.repository
  - customer.image.repository
  - customer.dataloader.image.repository
  - customer.bash.image.repository
  - ibmcase-couchdb.image.repository
  - inventory.image.repository
  - inventory.dataloader.image.repository
  - ibmcase-inventory-mysql.image.repository
  - ibmcase-inventory-mysql.busybox.image.repository
  - orders.image.repository
  - orders.dataloader.image.repository
  - ibmcase-orders-mysql.image.repository
  - ibmcase-orders-mysql.busybox.image.repository
  - web.image.repository

images:
- image: ibmcase/bluecompute-auth:latest
  references:
  - repository: ibmcase/bluecompute-auth:latest
- image: ibmcase/bluecompute-busybox:latest
  references:
  - repository: ibmcase/bluecompute-busybox:latest
- image: ibmcase/bluecompute-dataloader:latest
  references:
  - repository: ibmcase/bluecompute-dataloader:latest
- image: ibmcase/bluecompute-catalog:latest
  references:
  - repository: ibmcase/bluecompute-catalog:latest
- image: ibmcase/bluecompute-dataloader:latest
  references:
  - repository: ibmcase/bluecompute-dataloader:latest
- image: ibmcase/bluecompute-elasticsearch:latest
  references:
  - repository: ibmcase/bluecompute-elasticsearch:latest
- image: ibmcase/bluecompute-customer:latest
  references:
  - repository: ibmcase/bluecompute-customer:latest
- image: ibmcase/bluecompute-dataloader:latest
  references:
  - repository: ibmcase/bluecompute-dataloader:latest
- image: ibmcase/bluecompute-bash-curl-ssl:latest
  references:
  - repository: ibmcase/bluecompute-bash-curl-ssl:latest
- image: ibmcase/bluecompute-couchdb:latest
  references:
  - repository: ibmcase/bluecompute-couchdb:latest
- image: ibmcase/bluecompute-inventory:latest
  references:
  - repository: ibmcase/bluecompute-inventory:latest
- image: ibmcase/bluecompute-dataloader:latest
  references:
  - repository: ibmcase/bluecompute-dataloader:latest
- image: ibmcase/bluecompute-mysql:latest
  references:
  - repository: ibmcase/bluecompute-mysql:latest
- image: ibmcase/bluecompute-orders:latest
  references:
  - repository: ibmcase/bluecompute-orders:latest
- image: ibmcase/bluecompute-dataloader:latest
  references:
  - repository: ibmcase/bluecompute-dataloader:latest
- image: ibmcase/bluecompute-mysql:latest
  references:
  - repository: ibmcase/bluecompute-mysql:latest
- image: ibmcase/bluecompute-web:latest
  references:
  - repository: ibmcase/bluecompute-web:latest
