{
  "manifest-revision": "1.0",
  "charts": [
    {
      "archive": "charts/bluecompute-ce-__CHART_VERSION__.tgz"
    }
  ],
  "images": [
    {
      "image": "ibmcase/bluecompute-auth",
      "tag": "latest",
      "archive": "images/bluecompute-auth.tar.gz"
    },
    {
      "image": "ibmcase/bluecompute-dataloader",
      "tag": "latest",
      "archive": "images/bluecompute-dataloader.tar.gz"
    },
    {
      "image": "ibmcase/bluecompute-catalog",
      "tag": "latest",
      "archive": "images/bluecompute-catalog.tar.gz"
    },
    {
      "image": "ibmcase/bluecompute-dataloader",
      "tag": "latest",
      "archive": "images/bluecompute-dataloader.tar.gz"
    },
    {
      "image": "ibmcase/bluecompute-elasticsearch",
      "tag": "latest",
      "archive": "images/bluecompute-elasticsearch.tar.gz"
    },
    {
      "image": "ibmcase/bluecompute-customer",
      "tag": "latest",
      "archive": "images/bluecompute-customer.tar.gz"
    },
    {
      "image": "ibmcase/bluecompute-dataloader",
      "tag": "latest",
      "archive": "images/bluecompute-dataloader.tar.gz"
    },
    {
      "image": "ibmcase/bluecompute-bash-curl-ssl",
      "tag": "latest",
      "archive": "images/bluecompute-bash-curl-ssl.tar.gz"
    },
    {
      "image": "ibmcase/bluecompute-couchdb",
      "tag": "latest",
      "archive": "images/bluecompute-couchdb.tar.gz"
    },
    {
      "image": "ibmcase/bluecompute-inventory",
      "tag": "latest",
      "archive": "images/bluecompute-inventory.tar.gz"
    },
    {
      "image": "ibmcase/bluecompute-dataloader",
      "tag": "latest",
      "archive": "images/bluecompute-dataloader.tar.gz"
    },
    {
      "image": "ibmcase/bluecompute-mysql",
      "tag": "latest",
      "archive": "images/bluecompute-mysql.tar.gz"
    },
    {
      "image": "ibmcase/bluecompute-orders",
      "tag": "latest",
      "archive": "images/bluecompute-orders.tar.gz"
    },
    {
      "image": "ibmcase/bluecompute-dataloader",
      "tag": "latest",
      "archive": "images/bluecompute-dataloader.tar.gz"
    },
    {
      "image": "ibmcase/bluecompute-mysql",
      "tag": "latest",
      "archive": "images/bluecompute-mysql.tar.gz"
    },
    {
      "image": "ibmcase/bluecompute-web",
      "tag": "latest",
      "archive": "images/bluecompute-web.tar.gz"
    }
  ]
}
